# =========================
# Legal & Asset Protection
# =========================
# Ignore all ROM files
*.gbc
*.gb
*.rom
*.zip

# Ignore everything inside the roms folder...
roms/*
# ...Except for the instruction file so the folder survives
!roms/PLACE_ROMS_HERE.txt

# Ignore all extracted copyrighted assets
Assets/
extractor/output/

# Ignore references folder
references/

# Ignore test scripts
extractor/DONT_INCLUDE/

# =========================
# Python Tooling
# =========================
__pycache__/
*.pyc
.venv/
env/

# =========================
# MonoGame Engine (C# / .NET)
# =========================
bin/
obj/
.vs/
*.user
*.suo

# MonoGame Content Builder ignores
Content/bin/
Content/obj/